.tweet{
  background-color: blue;
  border: 2px solid;
  padding: 8px;
  width: fit-content;
  min-width: 200px;
  border-radius: 16px;
}
.tweet h3, p{
  margin: 0;
  margin-bottom: 8px;
  margin-top: 8px;
}
.tweet-container{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
}
